// MAIN BLOG


.main__blog {
    background-color: $color-blue;
    padding: 50px;

    @media(max-width: 470px) {
        padding: 0px;
    }
}

.blog__h1 {
    @include h1;
    padding: 50px;

    @media(max-width: 406px) {
        font-size: 40px;
    }
}

.blog__p {
    @include p;

    @media(max-width: 470px) {
        padding: 10px;
    }
}

.carousel {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

.figure__img {
    width: 900px;
    height: 550px;

    @media(max-width: 1024px) {
        width: 400px;
        height: 250px;
    }

    @media(max-width: 417px) {
        width: 200px;
        height: 130px;
    }
}

.figure__figcap {
    padding: 40px;
    text-align: center;
    color: $color-white;
}

.blog__figure {
    text-align: center;
    padding: 50px;

    @media(max-width: 556px) {
        padding: 0px;
    }
}

figure {
    margin-bottom: 0px !important;
}





