// FOOTER

.footer {
    padding: 50px;
    background-color: $color-yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: $font-family-2;
}

.uoc__img {
    width: 550px;
    height: 150px;
}

