// HOME


.index__container {
    margin-top: 190px;
    background-image: url(../images/hermes-rivera-newhL3aprGk-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    display: grid;
    place-items: center;

}

.container__h1 {
    @include h1;
}

.container__p, .container__h2 {
    color: $color-white;
    letter-spacing: 6px;
    font-size: 50px;
    font-family: $font-family;
    font-weight: bold;
}

.container__btn {
    @include btn;

    &:hover {
        background-color: $color-black;
        color: $color-yellow;
    }
}


.container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}


.btn__a {
    text-decoration: none;
    color: $color-black;

    &:hover {
        color:  $color-yellow;
    }
    
}

// BOOTSTRAP

.card {
    z-index: 1;
    border: none !important;
}

.card-body {
    background-color: black;
    color: white !important;
    display: grid;
    place-items: center;
}



