// MAIN MEMBERS

.main__members {
    margin-top: 190px;
    background-color: $color-blue;
    color: $color-white;
}

.members__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

.members__h1 {
    text-align: center;
    color: $color-white;
    padding: 50px;
    font-family: $font-family;
    letter-spacing: 13px;
}

.members__cards {
    padding: 30px;
}

.card__img {
    width: 600px;
    height: 600px;
}

.card__figcap {
    text-align: center;
    padding: 30px;
}