// CONTACT

.main__contact {
    text-align: center;
    background-color: $color-blue;
    padding-top: 50px;
    padding-bottom: 50px;
    color: $color-white;
}

.contact__p {
    @include p;
    padding: 20px;
}

.contact__h1 {
    @include h1;
    padding: 50px;

    @media(max-width: 638px) {
        font-size: 40px;
    }
}

.contact__h2 {
    color: $color-white;
    letter-spacing: 13px;
    font-size: 60px;
    font-weight: bold;
    font-family: $font-family;
    text-align: center;
    padding: 50px;

    @media(max-width: 424px) {
        font-size: 30px;
    }
}
