// VARIABLES Y FONTS

// Font Family

@font-face {
    font-family: 'Rajdhani';
    src: url(../fonts/Rajdhani/Rajdhani-Medium.ttf);
}

$font-family: 'Playfair';
$font-family-2: Arial;

// Color
$color-black: black;
$color-yellow:  #DEEF40;
$color-white: white;

